{% extends 'base.html' %}
{% import 'macros.html' as macro %} 

<!--Styles block-->




{% block content %}
<div class = "container">
    <form>
        <input type="text" name = "movie_query" placeholder = "Search for a Movie" class = "form-control">
        <br>
        <input type="submit" value = "Submit" class ="btn btn-primary">

    </form>

</div>
        
        <!--Popular Movies Section-->
        <h3 style="font-size:200%"> <strong> Popular Movies </strong></h3>
        <ul>            
            {{ macro.displayMovieList(popular)}}            
        </ul>
        <br>
        <br>
        <!---Upcoming movies-->
        <h3 style="font-size:200%"> <strong>Upcoming Movies</strong> </h3>
        <ul>            
            {{ macro.displayMovieList(upcoming)}}           
        </ul>
        <br>
        <br>
        <!--Now showing movie-->
        <h3 style="font-size:200%"> <strong> Now Showing Movies </strong> </h3>
        <ul>            
            {{macro.displayMovieList(now_showing)}}          
        </ul>

{% endblock %}



